Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
ColumnLimit: 160
PenaltyBreakAssignment: 2
PenaltyReturnTypeOnItsOwnLine: 200
PointerAlignment: Down
SpaceBeforeParens: Never
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
